---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <main>
      <slot />
    </main>
    <style is:global>
      @import "https://unpkg.com/open-props";
      @import "https://unpkg.com/open-props/normalize.min.css";
      @import "https://unpkg.com/open-props/buttons.min.css";

      body {
        max-width: 60ch;
        padding: 1em;
        margin: 0 auto;
        font-size: 1.25rem;
        display: grid;
        grid-template-rows: 1fr auto;
        justify-items: center;
        min-height: 100vh;
      }

      main {
        display: grid;
        place-content: center;
        text-align: center;
      }

      .toast:not(:empty) {
        background-color: var(--surface-2);
        padding: 1rem;
        border-radius: var(--radius-2);
      }

      form {
        width: min(80vw, 400px);
        display: grid;
        gap: 0.5rem;
        margin-block: 2rem;
        text-align: left;
      }
    </style>
  </body>
</html>
